{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'log into'|capfirst %} {{ block.super }}{% endblock title %}
{% block content %}
<h1>{% trans 'log in'|capfirst %}</h1>
{% if form.errors %}
    <div class="alert alert-error">{% trans 'error while logging in'|capfirst %}. {% trans 'please try again'|capfirst %}.</div>
{% endif %}
<form method="post" action="{% url 'login' %}?next={{ request.GET.next }}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans 'log in'|capfirst %}</button>
</form>
<p><a href="{% url 'password_reset' %}">{% trans 'forgot password'|capfirst %}?</a></p>
{% endblock content %}