{% extends 'base.html' %}
{% load i18n %}
{% block title %}{{ object.user }} {% trans 'profile at' %} {{ block.super }}{% endblock title %}
{% block style %}
ul li { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex_start; gap: 2rem; }
{% endblock style %}
{% block content %}
<h1>{% trans 'user details'|capfirst %}</h1>
<ul>
    <li>
        <div>
            <img src="{{ object.photo.url }}" class="user-profile-img">
        </div>
        <div>
            {% if object.user.first_name or object.user.last_name %}
                <h4>{{ object.user.first_name }} {{ object.user.last_name }}</h4>
            {% endif %}
            {% if object.user == request.user %}
            <p>{% trans 'username'|capfirst %}: {{ object.user }}</p>
            <p>{% trans 'email'|capfirst %}: {{ object.user.email }}</p>
            <p><a href="{% url 'profile_update' %}">{% trans 'update your profile' %}</a></p>
        </div>
    </li>
</ul>
{% endif %}
{% endblock content %}
